body {
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    font-family: 'Fira Sans',sans-serif;
    color: #212121;
    position: relative;
    min-width: 320px;
    min-height: 100%;
}

h1{
    font-family: 'Fira Sans',sans-serif;
    color: #e12a2e;
}

.review{
    margin: 20px 10px 20px 10px;
    border: solid 1px gray;
}

.review:hover{
    transition: 0.4s;
    border: solid 1px #e12a2e;
    -webkit-box-shadow: 7px 7px 30px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    7px 7px 30px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         7px 7px 30px 0px rgba(50, 50, 50, 0.3);

}

.reviewExample{
    /* width: 200px; */
    width: 100%;
}

